<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Reserva</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <h1>
        ID da reserva:
        <%=reserves.id%>
    </h1>
    <p>
        <Strong>Status da reserva:</Strong>
        <%=reserves.status%>
    </p>
    <p id="initial_date">
        <strong>Data inicial:</strong>
        <%=reserves.initial_date%>
    </p>
    <p id="final_date">
        <strong>Data final:</strong>
        <%=reserves.final_date%>
    </p>
    <p>
        <strong>Hotel:</strong>
        <%=hotels.company_name%>
    </p>
    <p>
        <strong>Quarto:</strong>
        <%=accommodation.number%>
    </p>
    <p>
        <strong>Número de pessoas:</strong>
        <%=reserves.number_of_guests%>
    </p>
    <% if (reserves.observation) { %>
        <strong>Observação:</strong>
        <%=reserves.observation%>
            <% } %>
                <br>
                <p><a href="/reserves/myReserves">Voltar</a></p>
                <p><a href="/reserves/<%=reserves.id%>/editReserve">Editar reserva</a></p>

                <form method="POST" action="/reserves/delete/<%=reserves.id%>?_method=DELETE">
                    <button>Cancelar/Apagar</button>
                </form>
</body>

</html>