<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
    <h1>Acomodações:</h1>
    <ul>
        <% for (let a of accommodation){ %>
            <li>
                <%= a.number %> -
                    <%= a.value %> -
                        <%= a.number_of_guests %>
            </li>
            <% } %>
    </ul>

    <h1>Hoteis:</h1>
    <ul>
        <% for (let h of hotels){ %>
            <li>
                <%= h.company_name %> -
                    <%= h.telephone %> -
                        <%= h.address %>
            </li>
            <% } %>
    </ul>

    <h1>Reservas:</h1>
    <ul>
        <% for (let r of reserves){ %>
            <li>
                <%= r.number %> -
                    <%= r.initial_date %> -
                        <%= r.final_date %>
                            <a href="/user/<%= r.id %>">Detalhes</a>
            </li>
            <% } %>
    </ul>
    <a href="/user/newReserve">Nova reserva</a>

</body>

</html>