<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="container" style="margin: 0 auto; margin-top: 50px;">
        <h1>Acomodações:</h1>
        <div>
            <% const countAccommodation = accommodation.length %>
                <% for (let a of accommodation){ %>
                    <ul style="list-style-type: none;">
                        <li>
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="/images/registration/<%=a.photo%>" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <% for (let h of hotels){ %>
                                                <% if (a.hotel_id == h.id) { %>
                                                    <h4 class="card-title">
                                                        <%= a.number%> -
                                                            <%= h.company_name %>
                                                    </h4>
                                                    <p class="card-text"><small class="text-muted"><%= h.address %>, <%= h.number %>. <%= h.district %>, <%= h.city %> - <%= h.state %></small></p>
                                                    <p class="card-text">
                                                        <%= a.description %>
                                                    </p>
                                                    <p class="card-text">
                                                        Número de pessoas:
                                                        <%= a.number_of_guests %>
                                                    </p>
                                                    <p class="card-text">Preço:<strong>R$<%= a.value %></strong></p>
                                                    <div class="card-footer">
                                                        <a href="/accommodation/<%=a.id%>"><small class="text-muted">Ver mais detalhes</small></a>
                                                    </div>
                                                    <% } %>
                                                        <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                        </li>
                    </ul>
                    <% } %>
                        <% if (countAccommodation == 0) {%>
                            Não há acomodações registradas. <br>
                            <% } %>
        </div>
        <div>
            <h1>Hoteis:</h1>
            <% const countHotels = hotels.length %>
                <ul style="list-style-type: none;">
                    <li>
                        <div class="card-group">
                            <% for (let h of hotels){ %>
                                <div class="card">
                                    <div class="card-title" style="align-content:middle;">
                                        <img src="/images/registration/<%=h.photo%>" alt="some text" style="height: 120px; width:auto; display: block; margin-left: auto; margin-right: auto">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= h.company_name %>
                                        </h5>
                                        <p class="card-text">CNPJ:
                                            <%= h.cnpj %><br>
                                                <%= h.address %>,
                                                    <%= h.number %>.
                                                        <%= h.district %>,
                                                            <%= h.city %> -
                                                                <%= h.state %>
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="/accommodation/hotel/<%=h.id%>"><small class="text-muted">Ver mais detalhes</small></a>
                                    </div>
                                </div><br>
                                <% } %>
                                    <% if (countHotels == 0) {%>
                                        Não há reservas. <br>
                                        <% } %>
                        </div>
                    </li>
                </ul>
        </div>
        <h1>Reservas:</h1>
        <ul>
            <% const countReserves = reserves.length %>
                <% for (let r of reserves){ %>
                    <li>
                        <%= r.number %> -
                            <%= r.initial_date %> -
                                <%= r.final_date %>
                                    <a href="/reserves/<%= r.id %>">Detalhes</a>
                    </li>
                    <% } %>
                        <% if (countReserves == 0) {%>
                            Não há reservas. <br>
                            <% } %>
        </ul>
        <br>
        <a href="/user/profile"><button class="btn btn-primary me-md-2">Meu perfil</button></a>
        <a href="/login/logoff"><button class="btn btn-primary me-md-2">Sair</button></a>
    </div>
    <br>

</body>

</html>