<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
    <h1>ID da reserva:
        <%=var_reserve.id%>
    </h1>
    <h2>
        <%=var_reserve.number%> -
            <%=var_reserve.initial_date%> -
                <%=var_reserve.final_date%>
    </h2>
    <a href="/user">Voltar para o index</a>
    <a href="/user/<%=var_reserve.id%>/editReserve">Editar reserva</a>

    <form method="POST" action="/user/<%=var_reserve.id%>?_method=DELETE">
        <br><button>Apagar</button>
    </form>

</body>

</html>