<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
    <h1>ID do Usuario:
        <%=usuarios.id%>
    </h1>
    <h2>
        <%=usuarios.first_name%> -
            <%=usuarios.last_name%>
    </h2>
    <a href="/comentarios">Voltar para o index</a>
    <a href="/comentarios/<%=usuarios.id%>/edit">Editar comentário</a>
    <form method="POST" action="/comentarios/<%=usuarios.id%>?_method=DELETE">
        <button>Apagar</button>
    </form>

</body>

</html>