<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Acomodação
        <%= accommodation.number %>
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
    <h1>Sobre a acomodação</h1>
    <div class="card mb-3">
        <img src="/images/registration/<%=accommodation.photo%>" class="img-fluid rounded-start" alt="..." style="max-width:30%; height:auto;">

        <div class="card-body">
            <h3 class="card-title">Acomodação:
                <%= accommodation.number %>
            </h3>
            <p class="card-text">
                <strong>Número de pessoas:</strong>
                <%= accommodation.number_of_guests %><br>
                    <% if(accommodation.description) { %>
                        <strong>Descrição:</strong>
                        <%= accommodation.description %><br>
                            <% } %>
                                <% if(accommodation.convenience) { %>
                                    <strong>Comodidade:</strong>
                                    <%= accommodation.convenience %><br>
                                        <% } %>
                                            <% if(accommodation.observation) { %>
                                                <strong>Observações:</strong>
                                                <%= accommodation.observation %><br>
                                                    <% } %>



            </p>
            <p class="card-text">
                <h4 class="text-muted">R$
                    <%= accommodation.value %>
                </h4>
            </p>
        </div>
    </div>
    <br>
    <h1>Sobre o Hotel:</h1>
    <div class="card mb-3">
        <img src="/images/registration/<%=hotels.photo%>" class="img-fluid rounded-start" alt="..." style="max-width:30%; height:auto;">

        <div class="card-body">
            <h3 class="card-title">
                <%= hotels.company_name %>
            </h3>
            <p class="card-text">
                CNPJ:
                <%= hotels.cnpj %><br> Telefone:
                    <%= hotels.telephone %><br> E-mail:
                        <%= hotels.email %><br>
                            <%= hotels.address %>,
                                <%= hotels.number %> -
                                    <%= hotels.district %>,
                                        <%= hotels.city %> -
                                            <%= hotels.state %>,
                                                <%= hotels.cep %>.
                                                    <%= hotels.country %>
            </p>
            <p>
                <% if(hotels.social_reason) { %>
                    <strong>Razão social:</strong>
                    <%= hotels.social_reason %><br>
                        <% } %>
                            <% if(hotels.convenience) { %>
                                <strong>Comodidade:</strong>
                                <%= hotels.convenience %><br>
                                    <% } %>
                                        <% if(hotels.observation) { %>
                                            <strong>Observação:</strong>
                                            <%= hotels.observation %><br>
                                                <% } %>
                                                    <% if(hotels.avaliation) { %>
                                                        <strong>Avaliação:</strong>
                                                        <%= hotels.avaliation %><br>
                                                            <% } %>
            </p>
        </div>
    </div>

    <h3>Gostaria de reservá-la? <a href="/reserves/newReserve/<%= accommodation.id %>/<%= hotels.id %>">Clique aqui</a></h3>
    <br>
</body>

</html>