<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Hotel
        <%= hotels.company_name %>
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
    <h1>Sobre o Hotel:</h1>
    <div class="card mb-3">
        <img src="/images/registration/<%=hotels.photo%>" class="img-fluid rounded-start" alt="..." style="max-width:30%; height:auto;">

        <div class="card-body">
            <h3 class="card-title">
                <%= hotels.company_name %>
            </h3>
            <p class="card-text">
                CNPJ:
                <%= hotels.cnpj %><br> Telefone:
                    <%= hotels.telephone %><br> E-mail:
                        <%= hotels.email %><br>
            </p>
            <p>
                <%= hotels.address %>,
                    <%= hotels.number %> -
                        <%= hotels.district %>,
                            <%= hotels.city %> -
                                <%= hotels.state %>,
                                    <%= hotels.cep %>.
                                        <%= hotels.country %>
            </p>
            <p>
                <% if(hotels.social_reason) { %>
                    <strong>Razão social:</strong>
                    <%= hotels.social_reason %><br>
                        <% } %>
                            <% if(hotels.convenience) { %>
                                <strong>Comodidade:</strong>
                                <%= hotels.convenience %><br>
                                    <% } %>
                                        <% if(hotels.observation) { %>
                                            <strong>Observação:</strong>
                                            <%= hotels.observation %><br>
                                                <% } %>
                                                    <% if(hotels.avaliation) { %>
                                                        <strong>Avaliação:</strong>
                                                        <%= hotels.avaliation %><br>
                                                            <% } %>
            </p>
        </div>
    </div>
    <h1>Acomodações</h1>
    <% const countAccommodation = accommodation.length %>
        <% if (countAccommodation == 0) { %>
            Não há acomodações registradas. <br>
            <% } else { %>
                <% for (let a of accommodation){ %>
                    <div class="card mb-3">
                        <img src="/images/registration/<%=a.photo%>" class="img-fluid rounded-start" alt="..." style="max-width:30%; height:auto;">

                        <div class="card-body">
                            <h3 class="card-title">Acomodação:
                                <%= a.number %>
                            </h3>
                            <p class="card-text">
                                <strong>Número de pessoas:</strong>
                                <%= a.number_of_guests %><br>
                                    <% if(a.description) { %>
                                        <strong>Descrição:</strong>
                                        <%= a.description %><br>
                                            <% } %>
                                                <% if(a.convenience) { %>
                                                    <strong>Comodidade:</strong>
                                                    <%= a.convenience %><br>
                                                        <% } %>
                                                            <% if(a.observation) { %>
                                                                <strong>Observações:</strong>
                                                                <%= a.observation %><br>
                                                                    <% } %>
                            </p>
                            <p class="card-text">
                                <h4 class="text-muted">R$
                                    <%= a.value %>
                                </h4>
                            </p>
                        </div>
                    </div>
                    <% } %>
                        <% } %>

                            <br><a href="/user"><button>Voltar</button></a>

</body>

</html>