<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <h1> Olá Hotel!</h1>
    <br>
    <% const countAccommodation = accommodation.length %>
        <h1>Acomodações:</h1>
        <ul>
            <% for (let a of accommodation){ %>
                <li>
                    <%= a.number %> -
                        <%= a.value %> -
                            <%= a.number_of_guests %>
                </li>
                <% } %>
                    <% if (countAccommodation == 0) {%>
                        Não há acomodações registradas. <br>
                        <% } %>
        </ul>

        <h1>Reservas:</h1>
        <ul>
            <% const countReserves = reserves.length %>
                <% for (let r of reserves){ %>
                    <li>
                        <%= r.number %> -
                            <%= r.initial_date %> -
                                <%= r.final_date %>
                                    <a href="/hotel/<%= r.id %>">Detalhes</a>
                    </li>
                    <% } %>
                        <% if (countReserves == 0) {%>
                            Não há reservas. <br>
                            <% } %>
        </ul>

        <a href="/hotel/profile"><button>Meu perfil</button></a>
        <a href="/login/logoff"><button>Sair</button></a>
</body>

</html>